
/*.label {
    -fx-font-size: 25pt;
    -fx-font-family: "TrajanPro"; 
    -fx-text-fill: red;
    -fx-opacity: 1;
}*/

#test {
	 -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Arial";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-text-alignement: center;
	
}


#xx {
	 -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Arial";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-text-alignement: center;
	
}


#xx:hover {
    -fx-background-color: #3a3a3a;
    -fx-border-color: blue;
}

#xx:pressed, .button:default:hover:pressed {
  -fx-text-fill: #1d1d1d;
  -fx-border-color: green;
}

#xxx {
	 -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Arial";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-text-alignement: center;
	
}


#xxx:hover {
    -fx-background-color: #3a3a3a;
    -fx-border-color: blue;
}

#xxx:pressed, .button:default:hover:pressed {
  -fx-text-fill: #1d1d1d;
  -fx-border-color: blue;
}




